@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    font-family: 'consolas','Ricty','Monaco',monospace;
    width: 100%;
    height: 100%;
    min-width: 1024px;
    overflow: hidden;
}

#left {
    background-color: #333;
    height: 100%;
    width: 512px;
    position: absolute;
}

#left iframe {
    border: 0px;
    width: 512px;
    height: 512px;
    background-color: #f0f0f9;
    overflow: hidden;
    box-shadow: 0px 0px 15px 3px black;
}

#left #console {
    color: #999;
    font-size: 14px;
    padding: 10px;
    text-shadow: 1px 1px 1px #222;
}

#left #console h3 {
    color: #ccc;
    margin: 20px 0px 5px;
}

#left #console p {
    margin: 0px 10px 10px;
}

#left #console p em {
    color: lightskyblue;
    font-style: normal;
}

#left #console p strong {
    color: deeppink;
    font-style: normal;
}

#right {
    overflow: hidden;
}

#right #tabs {
    background-color: #191919;
    color: #999;
    font-size: 18px;
    font-weight: bold;
    line-height: 29px;
    height: 30px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 512px;
    right: 0;
    overflow: hidden;
    text-shadow: 1px 1px 2px #111;
    box-shadow: 0px -1px 0px 0px #444 inset;
}

#right #tabs .tab {
    background-color: #272822;
    border-left: 1px solid #444;
    border-bottom: 1px solid #444;
    text-align: center;
    min-width: 40px;
    padding: 0px 15px;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.1s linear;
}

#right #tabs .tab:hover {
    background-color: #666;
    color: whitesmoke;
    transition: background-color 0.1s linear;
}

#right #tabs .active, #right #tabs .active:hover {
    border-bottom: 1px solid #272822;
    color: deeppink;
}

#tabs .tab:first-child {
    margin-left: 75px;
}

#tabs .tab:nth-last-of-type(1) {
    border-right: 1px solid #444;
}

#tabVertex, #tabFragment, #tabVertexPost, #tabFragmentPost {
    background-color: #1a1a1a !important;
}

#tabVertex:hover, #tabFragment:hover, #tabVertexPost:hover, #tabFragmentPost:hover {
    background-color: #666 !important;
}

#tabVertex.active, #tabFragment.active, #tabVertexPost.active, #tabFragmentPost.active {
    border-bottom: 1px solid #191919 !important;
}

#right .editor {
    font-family: 'consolas', 'Ricty', 'Monaco', monospace;
    font-size: 14px;
    position: absolute;
    top: 30px;
    bottom: 54px;
    left: 512px;
    right: 0px;
    display: none;
}

#right #menu {
    background-color: #666670;
    color: #ccc;
    line-height: 25px;
    width: calc(100% - 512px);
    height: 54px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    bottom: 0px;
    left: 512px;
    overflow: hidden;
}

#menu p {
    margin: 15px 20px;
}

#menu img {
    background-color: transparent;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: background-color 0.1s linear;
}

#menu img:hover {
    background-color: gold;
    transition: background-color 0.1s linear;
}

#menu img.play:hover {
    background-color: springgreen;
    transition: background-color 0.1s linear;
}

#menu img.stop:hover {
    background-color: deeppink;
    transition: background-color 0.1s linear;
}

#menu #info {
    color: #111;
    font-size: 18px;
    font-weight: bold;
    margin-right: auto;
}

#menu #checkboxWrapper {
    margin: 15px 20px;
}

#menu #inputAutoSave {
    display: none;
}

#menu #inputAutoSave+#autoSave:before {
    content: '\2713';
    background-color: transparent;
    border: 3px solid black;
    color: #555560;
    font-size: 17px;
    font-weight: bold;
    line-height: 18px;
    text-align: center;
    width: 18px;
    height: 18px;
    display: block;
    text-shadow: 1px 1px 0px #444450;
    cursor: pointer;
}

#menu #inputAutoSave:checked+#autoSave:before {
    background-color: #345;
    color: turquoise;
}

#right .selected {
    display: block !important;
}

#hidden {
    background-color: #191919;
    border: 2px solid #444;
    border-radius: 3px;
    color: #eee;
    height: 70%;
    min-width: 200px;
    min-height: 200px;
    display: none;
    overflow: 100%;
    overflow-y: auto;
    position: absolute;
    bottom: 50px;
    right: 30px;
    box-shadow: 3px 3px 10px black;
    z-index: 99;
}

#hidden .list {
    background-color: transparent;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.1s linear;
}

#hidden .list:hover {
    background-color: #666;
    transition: background-color 0.1s linear;
}

